@model SwAppViewModel.MultiUI.HomeMultiModel

<div class="container text-center" style="clear:both;">
    <div class="row wwcd px-4 px-md-0">
        <div class="col-12 mt-4 mt-md-0 p-4 px-md-0">
            <h1 class="wwcd-header">@Model.HomeWhatAreWeDoingUI.HomeWhatAreWeDoingTİtle</h1><br/>
            <h5>
                @Html.Raw(Model.HomeWhatAreWeDoingUI.HomeWhatAreWeDoingDetail)
            </h5>
        </div>
    </div>
</div><br/><br/>