@{
    ViewData["Title"] = "Reference";
}
<div class="bg-blue">
    <div class="container pb-5">
        <div class="row">
            <div class="col-12">
                <h1 class="topbar-title">REFERANSLAR</h1>
                <h6 class="topbar-desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                </h6>
            </div>
        </div>
    </div>
</div>
@Html.Partial("ProjectPartialView")