<div class="container ml-1">
    <div class="row align-items-lg-start">
        <div class="col">
            <img src="~/img/logo_orj.png"/>
        </div>
    </div>
    <div class="row align-items-lg-start">
        <div class="col">
            <h3>Merhaba <b class="text-danger"> @TempData["FullName"] </b> Sorsware Paneline Hoşgeldiniz</h3>
        </div>
    </div>
</div>